.root {
  -fx-background-color: rgba(0, 0, 0, 0.9);
  -fx-background-image: url("/images/background/globe.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;
}
