.root {
  -fx-background-color: rgba(0, 0, 0, 0.9);
  -fx-background-image: url("/images/background/globe.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;
}

#sidebar {
  -fx-background-color: rgba(0, 0, 0, 0.6);
  -fx-spacing: 5px;
}

#logo-label {
  -fx-font-size: 28px;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-alignment: center;
}

Button {
  -fx-background-color: transparent;
  -fx-font-size: 23px;
}

Button:hover {
  -fx-background-color: rgba(255, 255, 255, 0.1);
}

.ikonli-font-icon {
  -fx-fill: white;
  -fx-font-size: 24px;
}

#sidebar Button Label {
  -fx-text-fill: white;
}

#sidebar .button-content {
  -fx-max-width: 120px;
  -fx-min-width: 120px;
}
