.root {
  -fx-background-color: rgba(0, 0, 0, 0.9);
  -fx-background-image: url("/images/background/globe.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-font-family: "Roboto";
}

#sidebar {
  -fx-background-color: rgba(0, 0, 0, 0.6);
  -fx-spacing: 5px;
  -fx-min-height: 1024px;
}

.combo-box {
  -fx-fill: black;
}

#logo-label {
  -fx-font-size: 28px;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-alignment: center;
}

Button {
  -fx-background-color: transparent;
  -fx-font-size: 23px;
}

.button:hover {
  -fx-background-color: rgba(255, 255, 255, 0.1);
}

.ikonli-font-icon {
  -fx-fill: white;
  -fx-font-size: 20px;
}

#sidebar Button Label {
  -fx-text-fill: white;
}

#sidebar Button {
  -fx-max-width: 181px;
  -fx-min-width: 100px;
  -fx-alignment: center;
}

#sidebar .button-content {
  -fx-spacing: 10px;
  -fx-padding: 0px 0px 0px 23px;
}

.bold {
  -fx-font-weight: bold;
}

.lesson-button-disabled {
  -fx-padding: 10px 10px 10px 10px;
  -fx-text-fill: #ffffff40;
  -fx-alignment: "left";
  -fx-max-width: 500px;
  -fx-min-width: 500px;
}

.lesson-button-enabled {
  -fx-padding: 10px 10px 10px 10px;
  -fx-text-fill: #00c2f2;
  -fx-alignment: "left";
  -fx-max-width: 500px;
  -fx-min-width: 500px;
}

.card {
  -fx-border-color: #00c2f2;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0, 0, 0);
  -fx-spacing: 10px;
  -fx-alignment: center;
  -fx-padding: 30px;
  -fx-background-color: rgba(0.39, 8.24, 14.9, 0.5);
  -fx-border-width: 2px;
  -fx-border-radius: 20px;
  -fx-border-style: solid;
  -fx-background-radius: 20px;
}

.question-answer-button {
  -fx-border-color: #00c2f2;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0, 0, 0);
  -fx-spacing: 10px;
  -fx-alignment: center;
  -fx-padding: 20px;
  -fx-background-color: rgba(0.39, 8.24, 14.9, 0.5);
  -fx-border-width: 2px;
  -fx-border-radius: 20px;
  -fx-border-style: solid;
  -fx-background-radius: 20px;
  -fx-max-width: 200px;
  -fx-min-width: 200px;
  -fx-text-fill: white;
}

.question-button {
  -fx-border-color: #979dac;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0, 0, 0);
  -fx-spacing: 10px;
  -fx-alignment: center;
  -fx-padding: 20px;
  -fx-background-color: #7c92a2;
  -fx-border-width: 1px;
  -fx-border-radius: 20px;
  -fx-border-style: solid;
  -fx-background-radius: 20px;
  -fx-max-width: 150px;
  -fx-min-width: 150px;
  -fx-max-height: 50px;
  -fx-text-fill: white;
}
